body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 26px auto;
  padding: 20px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 12px;
}

.button-container {
  background: #e3f4ff;
  padding: 16px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 16px;
  margin-left: 100px;
}
